body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #4a90e2;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.produto {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    
}

.produto img {
    max-width: 100%;
    height: 350px;
    border-radius: 5px;
}

.produto h3 {
    color: #333;
}

.produto button {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #357ab8;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
}
.produto {
    margin: 20px;
    text-align: center;
}
.produto2 {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    
}

.produto2 img {
    max-width: 100%;
    height: 350px;
    border-radius: 5px;
}

.produto2 h3 {
    color: #333;
}

.produto2 button {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.produto2 button:hover {
    background-color: #357ab8;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
}
.produto2 {
    margin: 20px;
    text-align: center;
}






